/* width */
.testCss::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.testCss::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.testCss::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.testCss::-webkit-scrollbar-thumb:hover {
  background: #555;
}
