@import '~antd/es/style/themes/default.less';

.filterContainer {
  width: 100%;
  padding: 32px;
  background: #ffffff;
  border-radius: 32px;
}
.btnGroupLeaveEntitlement {
  background:#2D68FE;
  border: 1px solid rgba(205, 231, 255, 0.5);
  border-radius: 8px;
}
.resetBtn {
  color: #626d6c;
  font-weight: 500;
  background: #ffffff;
  border-radius: 6px;
}
.resetBtn:hover {
  color: #626d6c;
  background: #ffffff;
  border: 1px solid #626d6c;
  border-radius: 6px;
}

.flexBoxButtons{
    display: 'flex';
    flex-direction: row;
}