.general-info-card {
  margin-bottom: 5% !important;
}
.contact-card {
  margin-bottom: 5% !important;
}
.leave-config-card {
  margin-bottom: 5% !important;
}
.org-level-config-card {
  margin-bottom: 5% !important;
}
.theme-config-card {
  margin-bottom: 5% !important;
}
